<div id="container" class="container-fluid">
    <h1>New Register</h1>

    <%= render 'form', register: @register %>

    <%= link_to 'Back', registers_path, class: "btn btn-primary fullwidth"%>
</div>