<div id="container" class="container-fluid">
    <div class="menu">
        <%= link_to "起こして！", new_register_path, class: "btn btn-danger btn-lg btn-block", role: "button" %>
        <%= link_to "起こすぞ！", registers_path, class: "btn btn-danger btn-lg btn-block", role: "button" %>
	</div>
</div>