<div id="container" class="container-fluid">
    <div class="menu">
        <%= link_to new_register_path, class: "btn btn-danger btn-lg btn-block", role: "button" %>
        <%= link_to registers_path, class: "btn btn-danger btn-lg btn-block", role: "button" %>
	    <a class="btn btn-danger btn-lg btn-block" href="regist.html" role="button">起こして！</a>
		<a class="btn btn-danger btn-lg btn-block" href="list.html" role="button">起こすぞ！</a>
	</div>
</div>